<!DOCTYPE html> 
<html lang='en'>

<head>
	<title>Citation Manager</title>
	<!-- Got this from skeleton html -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Styling -->
	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
	<link type="text/css" href="{{ url_for('static',filename='css/normalize.css')}}" rel="stylesheet">
	<link type="text/css" href="{{ url_for('static',filename='css/skeleton_dean.css')}}" rel="stylesheet">
	<link type="text/css" href="{{ url_for('static',filename='css/styles.css')}}" rel="stylesheet">
	<script type=text/javascript>
	  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
<!-- 	<script type="text/x-mathjax-config">
          MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\(','\)']]}});
          </script>

 -->	
 	<!-- This is for mathjax -->
 	<script type="text/javascript"
	   src="https://cdn.mathjax.org/mathjax/latest/MathJax.js">
	</script>
<!-- 	<script type="text/javascript"
            src="{{ url_for('static', filename='js/MathJax.js')}}">
            </script>
 --></head>
<body>
	<!-- <div class="container"> -->
		<!-- <div class="header">
			<nav>
				<ul class="nav nav-pills pull-right">
					<li role="presentation" class="active"><a href="#">Home</a>
					</li>
					<li role="presentation" class="active"><a href="showAbout">About</a>
					</li>
				</ul>
			</nav>
			<h3 class="text-muted">Citation Manager</h3>
		</div> -->
	<!-- </div> -->
	<div class='container'>
		<div class='row'>
			<div class='twelve columns'>
				<h3>Citation Manager</h3>
			</div>
		</div>
	</div>
	<div class='container'>
	<div class='row'>
		<div class='three columns' id='button-list'>
 		</div>
		<div class='four columns'>
			<div id='cit-field'>
			</div>
			
			<div id='submit'>
			</div>
		</div>
		<div class='five columns'>
			<div id='html_area'></div>
		</div>
	</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/default.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js"></script>
	<script src="{{ url_for('static', filename='js/marked.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/main.js')}}"></script>
	<!-- <script src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script> -->
</body>
