<!DOCTYPE html> 
<html lang='en'>

<head>
	<title>Citation Manager</title>
	<link type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="header">
			<nav>
				<ul class="nav nav-pills pull-right">
					<li role="presentation" class="active"><a href="#">Home</a>
					</li>
					<li role="presentation" class="active"><a href="showAbout">About</a>
					</li>
				</ul>
			</nav>
			<h3 class="text-muted">Citation Manager</h3>
		</div>
	</div>
	<div class="container">
			<div class="row">
				<div class='col-md-4'>
					<ul class="list-group" id='button-list'>
 						{% for item in cm %}
					  		<button type="button" id="button_{{loop.index}}"" class="list-group-item">{{item.title[0]}}</button>
					  	{% endfor %}
					</ul>
				</div>
				<div class='col-md-4'>
					<textarea class="form-control" id="edit_area" rows="10"></textarea>
				</div>
				<div class='col-md-4'>
					<div contenteditable="true" id='html_area'></div>
				</div>
			</div>
	</div>	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/main.js')}}"></script>

	<script src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>
</body>
