<!DOCTYPE html> 
<html lang='en'>

<head>
	<title>Citation Manager</title>
	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="header">
			<nav>
				<ul class="nav nav-pills pull-right">
					<li role="presentation" class="active"><a href="#">Home</a>
					</li>
					<li role="presentation" class="active"><a href="showAbout">About</a>
					</li>
				</ul>
			</nav>
			<h3 class="text-muted">Citation Manager</h3>
		</div>
		
	</div>
</body>
